/* STYLES CATEGORIES */
.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background: url("/assets/imgs/categories/toEscape.jpg");
}
.item:nth-child(2) {
  background: url("/assets/imgs/categories/villages.jpeg");
}
.item:nth-child(3) {
  background: url("/assets/imgs/categories/goodPlans.jpg");
}
