.input {
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    outline: none;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

.button {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}

.button:hover {
    background-color: #49b07d;
}


.link:hover {
    color: rgb(61, 61, 61);
}

.google {
    background-color: rgba(228, 97, 50, 0.72);
}

.google:hover {
    background-color: rgba(228, 97, 50, 0.803);
}